'fileTypes': [
  'marasm'
]
'name': 'MarASM'
'patterns': [
  {
    'match': '\\b(nop|mov|add|sub|mul|div|floor|ceil|push|pop|call|ret|jmp|jz|jnz|jmz|jlz|in|out|setint|int|rmint|sleep|halt|load|store)\\b'
    'name': 'keyword.marasm'
  }
  {
    'match': '\\b(trace|log)\\b'
    'name': 'constant.numeric.line-number.find-in-files'
  }
  {
    'match': '\\b(var|gvar|delv|delg)\\b'
    'name': 'variable.marasm'
  }
  {
    'match': '\;.*$'
    'name': 'comment.marasm'
  }
  {
    'match': '\\b([0-9,\.]+)\\b'
    'name': 'constant.numeric.marasm'
  }
  {
    'match': '\'(.|\\\\.)\''
    'name': 'constant.string.marasm'
  }
  {
    'begin': '\#json'
    'end': '\#end'
    'name': 'string.json.marasm'
  }
  {
    'match': '\\\$[^\\\s]+'
    'name': 'entity.function.marasm'
  }
  {
    'match': '\\\@[^\\\s]+'
    'name': 'storage.marasm'
  }
]
'scopeName': 'source.marasm'
